.m-card {
    position: relative;
}

.m-card-hd {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 2;
}

.m-card-hd-bg {
    position: absolute;
    left: 0;
    top: 0;
}

.m-card-hd-zs1 {
    position: absolute;
    right: 12px;
    top: 10px;
    width: 120px;
    height: 11px;
}

.m-card-hd-title {
    position: absolute;
    left: 22px;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1.6px;
    height: 36px;
    line-height: 32px;
    font-family: "PingFangSc";
    font-weight: 600;
    background: -webkit-linear-gradient(rgba(219, 249, 255, 1), rgba(169, 240, 255, 1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.m-card-hd .saoguang {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 36px;
    overflow: hidden;
    pointer-events: none;
}

.m-card-hd .saoguang img {
    width: 89px;
    height: 36px;
    animation: saoguangMove 6s linear infinite;
}

.m-card-bd {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}

.m-card-bd-bg {
    position: absolute;
    left: 0;
    top: 0;
}

.m-card-bd-bottom-left-arrow {
    position: absolute;
    left: 4px;
    bottom: 4px;
}

.m-card-bd-bottom-right-arrow {
    position: absolute;
    right: 4px;
    bottom: 4px;
}

.m-card-bd-middle-left-line {
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -35px;
}

.m-card-bd-middle-right-line {
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -35px;
}

.m-card-bd-content {
    position: absolute;
    left: 0;
    top: 36px;
    right: 0;
    bottom: 0;
    pointer-events: all;
    overflow: hidden;
}

@keyframes saoguangMove {
    from {
        transform: translateX(-160px);
    }

    to {
        transform: translateX(2000px);
    }
}