.m-menu {
  display: flex;
}

.m-menu-item {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  pointer-events: all;
  justify-content: center;
  width: 100px;
  height: 32px;
  background-image: url("/assets/images/menu-btn.png");
  background-size: 100%;
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  margin: 0 12px;
  cursor: pointer;
}

.m-menu-item:hover,
.m-menu-item.is-active {
  color: rgba(255, 255, 255, 1);
  background-image: url("/assets/images/menu-btn-hover.png");
}

.m-menu-item.is-active::after {
  display: block;
  width: 100px;
  height: 32px;
  background-size: 100%;
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -50px;
  margin-top: -16px;
  z-index: -1;
  opacity: 1;
  background: rgba(0, 170, 255, 0.55);
  border-radius: 32px;
  transform: scale(1.1, 1.2);
  animation: menuActiveScale 1s infinite;
}

@keyframes menuActiveScale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1, 1.2);
  }
  100% {
    transform: scale(1.1, 1.2);
    opacity: 0;
  }
}