.count-card {
  display: flex;
  align-items: center;
}

.count-card-left {
  display: flex;
  align-items: center;
}

.count-card-right {
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.count-card-right .value {
  font-family: D-DIN;
  font-weight: bold;
  font-size: 28px;
  color: #ffffff;
  letter-spacing: 1px;
  margin-right: 10px;
  text-shadow: 0px 0px 18px rgba(255, 255, 255, 0.7);
  white-space: nowrap;
}

.count-card-right .unit {
  font-weight: 500;
  font-size: 12px;
  color: #ffffff;
  padding-top: 15px;
  opacity: 0.5;
  white-space: nowrap;
}

.count-card-icon {
  width: 58px;
  height: 58px;
  margin-right: 10px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
}

/* 2023销售金额 */
.count-card-icon.icon-xiaoshoujine {
  background-image: url("/assets/images/icon1.png");
}

/* 2023总销量 */
.count-card-icon.icon-zongxiaoliang {
  background-image: url("/assets/images/icon2.png");
}

.count-card-title .title-zh {
  font-weight: bold;
  font-size: 18px;
  color: #ffffff;
  white-space: nowrap;
}

.count-card-title .title-en {
  font-family: D-DIN;
  font-weight: 400;
  font-size: 12px;
  color: #ffffff;
  opacity: 0.5;
  padding-top: 5px;
  white-space: nowrap;
}